body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-size: 1.5em;
}

header nav {
    display: flex;
    gap: 15px;
}

header nav a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}

header nav a:hover {
    background-color: #555;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.carousel {
    position: relative;
    margin: 20px 0;
    overflow: hidden;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.carousel-inner::-webkit-scrollbar {
    display: none;
}

.carousel-item {
    flex: 0 0 auto;
    min-width: 33.33%;
}

.category-item,
.book-item {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 15px;
    text-align: center;
    width: 100%;
}

.category-item img,
.book-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.category-item h3,
.book-item h3 {
    margin: 5px 0;
}

.category-item p,
.book-item p {
    color: #555;
    margin: 5px 0;
}

.category-item .price {
    font-weight: bold;
}

/* .add-to-list-btn {
    background-color: #555;;
    color: white;
    border: black;
    padding: 4px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
} */

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}